---
import Card from "@/components/ui/Card.astro";
import InventoryCarousel from "./InventoryCardLinks.vue";
import { getEntries, type ReferenceDataEntry } from "astro:content";

interface Props {
  title: string;
  icon: string;
  description: string;
  links: ReferenceDataEntry<"links", string>[];
  url?: string;
}
const { title, icon, description, links, url } = Astro.props;

const IconComponent = await import(/* @vue-ignore */ `${icon}?component`);
const icons = await getEntries(links);

const classes = [
  "snap-center transition-transform duration-200 hover:scale-105",
];
if (url) {
  classes.push("cursor-pointer");
}
---

<div class:list={classes}>
  <Card class="h-96 w-72" padding={4} heading={title} titleClass="text-white">
    <a
      href={url || undefined}
      target="_blank"
      class="flex h-full flex-col items-center gap-4"
    >
      <div class="svg-wrapper text-primary-500 size-24">
        <IconComponent />
      </div>
      <div class="max-h-30 grow overflow-y-scroll text-center">
        {description}
      </div>
      <InventoryCarousel
        class="max-w-full"
        client:load
        links={icons.map(i => ({
          label: i.data.label,
          icon: i.data.icon,
        }))}
      />
    </a>
  </Card>
</div>
