---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import LabeledValue from "../components/LabeledValue.astro";
import Stat from "../components/Stat.astro";
---

<Layout title="Home" description="Home page">
  <div
    class="grid max-md:grid-cols-1 md:max-xl:grid-cols-2 xl:grid-cols-5 max-md:gap-4 md:gap-12 w-full max-lg:max-w-xl lg:max-w-2xl xl:max-w-3xl"
  >
    <Card
      class="mx-auto my-auto max-xl:col-span-1 xl:col-span-3 max-md:max-w-sm md:max-lg:max-w-md"
    >
      <img src="/avatar.jpg" alt="Avatar" />
    </Card>
    <div class="flex flex-col gap-1 max-xl:col-span-1 xl:col-span-2 my-auto">
      <LabeledValue label="Character Name" id="name">
        Tenzin Pelletier
      </LabeledValue>
      <LabeledValue label="Pronouns" id="pronoun"> they/them </LabeledValue>
      <LabeledValue label="Classes & Levels" id="class">
        Frontend Artificer 3
      </LabeledValue>
      <LabeledValue label="Species /Ancestry / Lineage" id="species">
        Human (Variant)
      </LabeledValue>
      <LabeledValue label="Background" id="background">
        Computer Science
      </LabeledValue>
    </div>
  </div>
  <div
    class="grid lg:grid-cols-2 gap-8 w-full max-lg:max-w-xl lg:max-w-2xl xl:max-w-3xl"
  >
    <Card padding={4}>
      <h1
        class="text-2xl text-center select-none font-bold text-primary-400 uppercase mb-4"
      >
        Stats
      </h1>
      <div
        class="max-sm:flex flex-wrap justify-center sm:grid grid-cols-2 max-lg:grid-cols-3 w-fit gap-4 mx-auto"
      >
        <Stat label="Precision" value={14} />
        <!-- STR -->
        <Stat label="Agility" value={17} />
        <!-- DEX -->
        <Stat label="Stamina" value={12} />
        <!-- CON -->
        <Stat label="Logic" value={16} />
        <!-- INT -->
        <Stat label="Lore" value={14} />
        <!-- WIS -->
        <Stat label="Creativity" value={13} />
        <!-- CHA -->
      </div>
    </Card>
    <Card padding={4}>
      <h1
        class="text-2xl text-center select-none font-bold text-primary-400 uppercase mb-4"
      >
        Features & Traits
      </h1>
    </Card>
  </div>
</Layout>
