---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import LabeledValue from "@/components/LabeledValue.astro";
import Stat from "@/components/Stat.astro";
import Feature from "@/components/Feature.astro";
import Skill from "@/components/Skill.astro";
import SkillsCarousel from "@/contents/SkillsCarousel.vue";
import HandWritingBlock from "@/components/HandWritingBlock.astro";
import Scroller from "@/components/Scroller.vue";
---

<Layout title="Home" description="Home page">
  <div
    id="characterProfile"
    class="flex w-full flex-col justify-center gap-4 lg:min-h-dvh"
  >
    <div class="flex items-center justify-center gap-8 max-md:flex-col-reverse">
      <div
        data-aos="fade-left"
        data-aos-delay="300"
        class="my-auto flex flex-col gap-1 max-md:w-full max-md:max-w-md max-md:px-8"
      >
        <LabeledValue label="Character Name" id="name">
          Tenzin Pelletier
        </LabeledValue>
        <LabeledValue label="Pronouns" id="pronoun"> they/them </LabeledValue>
        <LabeledValue label="Classes & Levels" id="class">
          Software Artificer (Frontend) 3
        </LabeledValue>
        <LabeledValue label="Species" id="species">
          Human (Variant)
        </LabeledValue>
        <LabeledValue label="Background" id="background">
          Computer Science / Film
        </LabeledValue>
        <LabeledValue label="Alignment" id="alignment">
          Lawful Good
        </LabeledValue>
      </div>
      <Card class="aspect-square max-w-lg" animation="zoom-in">
        <img src="/avatar.jpg" alt="Avatar" />
      </Card>
      <div
        class="flex w-80 min-w-64 flex-col justify-center gap-4 max-lg:hidden"
      >
        <HandWritingBlock label="Personality Traits" data-aos-delay="150">
          I love TTRPGs and all forms of interactive storytelling (could you
          tell?)
          <br />
          <br />
          My dream is to have a bachelor's degree in everything.
        </HandWritingBlock>
        <HandWritingBlock label="Ideals" data-aos-delay="300">
          People should always come before technological progress.
        </HandWritingBlock>
        <HandWritingBlock label="Bonds" data-aos-delay="450">
          I want to my work to mean something, and to make someone's day a
          little better.
        </HandWritingBlock>
        <HandWritingBlock label="Flaws" data-aos-delay="600">
          I sometimes hyperfixate on one task, which can lead me to neglect
          other work like documentation and pull request reviews.
        </HandWritingBlock>
      </div>
    </div>
    <Scroller
      data-aos="zoom-in"
      data-aos-delay={750}
      elementId="characterSheet"
      client:load
    >
      Read my Character Sheet:
    </Scroller>
  </div>

  <div
    id="characterSheet"
    class="flex max-w-full gap-8 max-md:flex-col lg:max-w-5xl"
  >
    <Card padding={4}>
      <h1
        class="text-primary-400 mb-4 select-none text-center text-2xl font-bold uppercase"
      >
        Stats
      </h1>
      <div class="my-auto flex flex-wrap justify-center gap-4 md:flex-col">
        <!-- STR -->
        <Stat label="Precision" value={16} />
        <!-- DEX -->
        <Stat label="Agility" value={17} />
        <!-- CON -->
        <Stat label="Stamina" value={12} />
        <!-- INT -->
        <Stat label="Logic" value={15} />
        <!-- WIS -->
        <Stat label="Lore" value={14} />
        <!-- CHA -->
        <Stat label="Creativity" value={13} />
      </div>
    </Card>
    <div class="flex grow-0 flex-col gap-8 overflow-hidden">
      <div class="flex gap-8 max-md:flex-col md:max-h-[35.25rem]">
        <Card class="h-fit shrink-0" padding={4}>
          <h1
            class="text-primary-400 mb-4 select-none text-center text-2xl font-bold uppercase"
          >
            Skills
          </h1>
          <div class="flex h-full w-fit flex-col justify-center gap-4">
            <Skill name="Unit Testing" stat="Precision" value={5} />
            <Skill name="Kanban" stat="Agility" value={5} />
            <Skill name="CI/CD Pipelines" stat="Stamina" value={3} />
            <Skill name="Systems Design" stat="Logic" value={4} />
            <Skill name="Accessibility" stat="Lore" value={4} />
            <Skill name="Storytelling" stat="Creativity" value={3} />
            <Skill name="Code Refactoring" stat="Precision" value={5} />
            <Skill name="Responsive Design" stat="Agility" value={5} />
            <Skill name="Test Automation" stat="Stamina" value={3} />
            <Skill name="Data Structures" stat="Logic" value={4} />
            <Skill name="Domain Modeling" stat="Lore" value={4} />
            <Skill name="Creative Coding" stat="Creativity" value={3} />
          </div>
        </Card>
        <Card class="max-h-full" padding={4}>
          <h1
            class="text-primary-400 mb-4 select-none text-center text-2xl font-bold uppercase"
          >
            Features & Traits
          </h1>
          <div
            class="flex grow flex-col justify-between gap-2 overflow-y-scroll"
          >
            <Feature
              name="Rapid Execution"
              stat="Agility"
              description="You solve problems and complete tasks at relentless pace. When under time pressure, gain advantage on one productivity-based check per challenge."
            />
            <Feature
              name="Self Study"
              stat="Logic"
              description="You gain new proficiencies twice as fast. When attempting a new skill, roll with advantage if you've researched it for one long rest."
            />
            <Feature
              name="Task Ownership"
              stat="Precision"
              description="You thrive on new, complex tasks you can take under your belt. Once per sprint, you gain advantage on all rolls related to your task until it is finished."
            />
            <Feature
              name="Codebase Fluency"
              stat="Lore"
              description="You're immediately comfortable with new codebases, frameworks, and tools. Once per week, you may identify the intent and structure of a core module or system at a glance."
            />
          </div>
        </Card>
      </div>
      <Card class="flex-grow" padding={4}>
        <h1
          class="text-primary-400 mb-4 select-none text-center text-2xl font-bold uppercase"
        >
          Languages & Proficiencies
        </h1>
        <div class="my-auto">
          <SkillsCarousel client:load />
        </div>
      </Card>
    </div>
  </div>
</Layout>
