---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  padding?: number;
  animate?: boolean;
}

const { padding = 0, class: className, animate = true, ...rest } = Astro.props;
---

<div
  data-aos={animate ? "flip-up" : undefined}
  class:list={[className, "cutout p-0.25 bg-primary-500"]}
  {...rest}
>
  <div class="cutout p-0.5 bg-black h-full">
    <div class="cutout p-0.25 bg-primary-500 h-full">
      <div
        class:list={[
          "cutout flex flex-col relative overflow-hidden bg-silver-950 text-silver-200 h-full",
          `p-${padding}`,
        ]}
      >
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .cutout {
    clip-path: polygon(
      /* top edge */ var(--corner) 0%,
      calc(100% - var(--corner)) 0%,
      /* right edge */ 100% var(--corner),
      100% calc(100% - var(--corner)),
      /* bottom edge */ calc(100% - var(--corner)) 100%,
      var(--corner) 100%,
      /* left edge */ 0% calc(100% - var(--corner)),
      0% var(--corner)
    );

    --corner: 1em;
  }
</style>
