---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  padding?: number;
  animate?: boolean;
  animation?: string;
  heading?: string;
  titleClass?: string;
  "data-aos-delay"?: string;
  "data-aos-offset"?: string;
}

const {
  padding = 0,
  class: className,
  animate = true,
  animation = "flip-up",
  heading,
  titleClass = undefined,
  ...rest
} = Astro.props;
---

<div
  data-aos={animate ? animation : undefined}
  class:list={[className, "cutout p-0.25 bg-primary-500"]}
  {...rest}
>
  <div class="cutout h-full bg-black p-0.5">
    <div class="cutout p-0.25 bg-primary-500 h-full">
      <div
        class:list={[
          "cutout bg-silver-950 text-silver-100 relative flex h-full flex-col overflow-hidden",
          `p-${padding}`,
        ]}
      >
        {
          heading ? (
            <h1
              class:list={[
                "text-primary-400 mb-4 text-center text-lg font-bold uppercase",
                titleClass,
              ]}
            >
              {heading}
            </h1>
          ) : null
        }
        <slot />
      </div>
    </div>
  </div>
</div>
