---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  padding?: number;
  animate?: boolean;
  animation?: string;
  "data-aos-delay"?: string;
  "data-aos-offset"?: string;
}

const {
  padding = 0,
  class: className,
  animate = true,
  animation = "flip-up",
  ...rest
} = Astro.props;
---

<div
  data-aos={animate ? animation : undefined}
  class:list={[className, "cutout p-0.25 bg-primary-500"]}
  {...rest}
>
  <div class="cutout h-full bg-black p-0.5">
    <div class="cutout p-0.25 bg-primary-500 h-full">
      <div
        class:list={[
          "cutout bg-silver-950 text-silver-200 relative flex h-full flex-col overflow-hidden",
          `p-${padding}`,
        ]}
      >
        <slot />
      </div>
    </div>
  </div>
</div>

<style>
  .cutout {
    clip-path: polygon(
      /* top edge */ var(--corner) 0%,
      calc(100% - var(--corner)) 0%,
      /* right edge */ 100% var(--corner),
      100% calc(100% - var(--corner)),
      /* bottom edge */ calc(100% - var(--corner)) 100%,
      var(--corner) 100%,
      /* left edge */ 0% calc(100% - var(--corner)),
      0% var(--corner)
    );

    --corner: 1em;
  }
</style>
