---

---

<div
  id="dice-box"
  class="pointer-events-none absolute left-0 top-0 h-full w-full"
>
</div>

<style is:global>
  #dice-box {
    .dice-box-canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
</style>
