---
interface Props {
  name: string;
  stat: string;
  description: string;
}

const { name, stat, description } = Astro.props;
---

<div>
  <div>
    <div class="font-heading text-primary-500 shrink-0 text-sm">
      <strong>{name}</strong>
      <span class="font-body text-silver-300 italic">({stat})</span>
    </div>
  </div>
  <span>{description}</span>
</div>
