---
import Card from "./Card.astro";
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  label: string;
}
const { label, ...rest } = Astro.props;
---

<Card padding={2} {...rest}>
  <div class="line-paper m-2 mx-3 italic leading-[1.2] max-xl:text-sm">
    <slot />
  </div>
  <h1
    class="text-primary-500 select-none text-center text-sm font-bold uppercase"
  >
    {label}
  </h1>
</Card>

<style>
  .line-paper {
    background-image: linear-gradient(
      var(--color-silver-700) 0.1em,
      transparent 0.1em
    );
    background-size: 100% 1.2em;
    background-position-y: 1em;
  }

  :root:not(.dark) .line-paper {
    background-image: linear-gradient(
      var(--color-silver-400) 0.1em,
      transparent 0.1em
    );
  }
</style>
