---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  label: string;
  id: string;
}

const { label, id, class: className } = Astro.props;
---

<div class:list={[className, "flex flex-col"]}>
  <div
    id={id}
    class="border-b min-w-64 border-primary-500 text-white text-xl italic"
  >
    <slot />
  </div>
  <label
    class="uppercase font-heading font-bold text-primary-400 text-right"
    for={id}
  >
    {label}
  </label>
</div>
