---
import type { HTMLAttributes } from "astro/types";
interface Props extends HTMLAttributes<"div"> {
  label: string;
  id: string;
}

const { label, id, class: className } = Astro.props;
---

<div class:list={[className, "flex flex-col"]}>
  <div
    id={id}
    class="border-primary-500 w-full border-b italic text-white max-md:text-xl md:max-xl:w-52 xl:w-64 xl:text-xl"
  >
    <slot />
  </div>
  <label
    class="font-heading text-primary-400 text-right text-sm font-bold uppercase"
    for={id}
  >
    {label}
  </label>
</div>
