---
import { db, Comment, eq } from "astro:db";

interface Props {
  comment: typeof Comment.$inferSelect;
}

const { comment } = Astro.props;

const replies = await db.select().from(Comment).where(eq(Comment.parentId, comment.id));
---

<div>
  <h3 class="text-lg font-semibold text-primary-500">{ comment.name }</h3>
  <span class="text-silver-600 dark:text-silver-300">
      { comment.createdAt.toLocaleDateString('en-CA', { month: 'long', day: 'numeric', year: 'numeric' }) }
  </span>
  <p class="mt-2">{ comment.body }</p>
  { !!replies.length &&
    <div class="mt-2 flex flex-col gap-2 pl-4 ml-2 border-l border-l-primary-700 py-2">
      { replies.map((comment) => <Astro.self comment={comment} />)}
    </div>
  }
  <div class="mt-4 flex gap-4">
    <div class="cutout bg-silver-600 dark:bg-silver-300 p-px w-fit">
      <div class="flex items-center gap-2 py-2 px-3 hover:bg-silver-500/50 hover:dark:bg-silver-700/75 cursor-pointer hover:text-white cutout bg-silver-100 dark:bg-silver-950 w-fit">
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M13 22h-2v-2h2v2Zm-2-2H9v-2h2v2Zm4 0h-2v-2h2v2Zm-6-2H7v-2h2v2Zm8 0h-2v-2h2v2ZM7 16H5v-2h2v2Zm12 0h-2v-2h2v2ZM5 14H3v-2h2v2Zm16 0h-2v-2h2v2ZM3 12H1V6h2v6Zm20 0h-2V6h2v6ZM13 8h-2V6h2v2ZM5 6H3V4h2v2Zm6 0H9V4h2v2Zm4 0h-2V4h2v2Zm6 0h-2V4h2v2ZM9 4H5V2h4v2Zm10 0h-4V2h4v2Z"/></svg>
        { comment.likes }
      </div>
    </div>
    <div class="cutout bg-silver-600 dark:bg-silver-300 p-px w-fit">
      <div class="flex items-center gap-2 py-2 px-3 hover:bg-silver-500/50 hover:dark:bg-silver-700/75 cursor-pointer hover:text-white cutout bg-silver-100 dark:bg-silver-950 w-fit">
        <svg class="size-5" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 24 24"><path d="M22 22h-2v-2h-2v-2h2V4h2v18Zm-4-4H4v-2h14v2ZM4 16H2V4h2v12Zm8-4H6v-2h6v2Zm6-4H6V6h12v2Zm2-4H4V2h16v2Z"/></svg>        Reply
      </div>
    </div>
  </div>
</div>


