---
import Card from "@/components/Card.astro";
import Mapbox from "./history/HistoryMap.vue";
import HistoryMapCard from "./history/details/HistoryMapCard.vue";
import type { Step } from "./history/types.ts";
import HistoryTimeline from "./history/HistoryTimeline.vue";
import schoolIcon from "@/icons/School.svg?raw";
import workIcon from "@/icons/Work.svg?raw";
import Scroller from "@/components/client/Scroller.vue";

const steps: Step[] = [
  // Marianopolis College
  {
    label: "Marianopolis College",
    coordinate: { lat: 45.4812462, lng: -73.6115655 },
    description:
      "My CEGEP, where I got my DEC in Pure and Applied Sciences. Stressful times, but I learnt a lot! Sadly, lots of the science knowledge has started to slip away. ",
    icon: schoolIcon,
    date: [new Date("2012-09-01"), new Date("2019-06-30")],
  },
  // UWaterloo
  {
    label: "University of Waterloo",
    coordinate: { lat: 43.4723, lng: -80.5449 },
    description:
      "My (first) university, where I got a BAC in Computer Science. As much as I disliked the culture, coming here was the right choice for me, if only for co-op and forcing me to move away.",
    icon: schoolIcon,
    date: [new Date("2019-09-01"), new Date("2023-12-30")],
  },
  // Paramount Commerce
  {
    label: "Paramount Commerce",
    coordinate: { lat: 43.64365, lng: -79.40406 },
    description:
      "My first work placement! Far from the best job, but the first internship hardly ever is! I was just grateful to have the opportunity. Learned lots about unit/e2e testing and test automation.",
    icon: workIcon,
    date: [new Date("2021-01-01"), new Date("2021-04-30")],
  },
  // Bunch.live
  {
    label: "Bunch.live",
    coordinate: { lat: 45.36378, lng: -73.29989 },
    description:
      "Game development was super fun! I loved learning Unity and C#, and I got addicted to MacBooks. The people I worked with were lovely! I would love to do a little solo game project some day...",
    icon: workIcon,
    date: [new Date("2021-09-01"), new Date("2021-12-30")],
  },
  // Lifion by ADP
  {
    label: "Lifion by ADP",
    coordinate: { lat: 40.65705, lng: -73.98173 },
    description:
      "My first time working in frontend! Had no idea this would become my thing, but I quickly grew to love it! Worked with React and Redux. Sadly I didn't get to go to the New York office because of Covid!",
    icon: workIcon,
    date: [new Date("2022-05-01"), new Date("2022-08-30")],
  },
  // Chalmers
  {
    label: "Chalmers Universitat",
    coordinate: { lat: 57.6898, lng: 11.9742 },
    description:
      "I went on exchange here! I've been yearning for Europe ever since. It was one of most transformative experiences of my life– so much of who I am, I began to discover there.",
    icon: schoolIcon,
    date: [new Date("2022-09-01"), new Date("2023-01-12")],
  },
  // Vivid Seats
  {
    label: "Vivid Seats",
    coordinate: { lat: 43.64899, lng: -79.38895 },
    description:
      "My final work placement. Would've ended up here full time if I didn't have to move to Toronto! It's definitely where I found my confidence in what I do. Worked with React, Next.js, Optimizely. Great manager!",
    icon: workIcon,
    date: [new Date("2023-01-16"), new Date("2023-08-30")],
  },
  // Hivestack
  {
    label: "Hivestack",
    coordinate: { lat: 45.50028, lng: -73.55396 },
    description:
      "Where I'm working now! The people are really great here. It's the first time I've had \"work friends\". The situation with our parent company is quite problematic to me though.",
    icon: workIcon,
    date: [new Date("2024-01-08")],
  },
  // Concordia
  {
    label: "Concordia University",
    coordinate: { lat: 45.4948, lng: -73.5779 },
    description:
      "My current university! Doing a second BAC in Film Studies. It's a nice change of pace, and film was always a passion of mine. My amazing manager lets me make up the hours I miss!",
    icon: schoolIcon,
    date: [new Date("2025-01-01")],
  },
];
---

<section
  id="characterHistory"
  class="relative flex min-h-dvh w-full snap-start flex-col gap-6 pt-16 md:h-dvh md:snap-center"
>
  <div class="flex max-h-full items-center justify-center gap-6">
    <div
      class="flex h-fit max-h-full grow flex-col pt-12 max-md:hidden md:max-w-md lg:max-w-2xl"
    >
      <div class="relative">
        <h1
          data-aos="fade-in"
          class="text-primary-500 absolute -top-2 left-1/2 -translate-x-1/2 -translate-y-full text-2xl font-bold"
        >
          Backstory
        </h1>
        <Card animation="zoom-in">
          <Mapbox client:load class="aspect-[4/3] w-full" steps={steps} />
        </Card>
      </div>
      <HistoryMapCard
        data-aos="zoom-in"
        client:load
        class="mt-6 h-64 lg:hidden"
        steps={steps}
      />
    </div>
    <div>
      <h1
        data-aos="fade-in"
        class="text-primary-500 mx-auto text-center text-2xl font-bold md:hidden"
      >
        Backstory
      </h1>
      <HistoryTimeline
        class="my-auto shrink-0 max-md:mx-auto max-md:h-fit max-md:min-h-full max-md:w-full md:-mb-16"
        data-aos="fade-right"
        client:load
        steps={steps}
      />
    </div>
  </div>
  <Scroller
    class="absolute bottom-2 left-1/2 -translate-x-1/2 max-md:hidden"
    data-aos="zoom-in"
    data-aos-offset="-25"
    elementId="characterInventory"
    client:load
  >
    Check my Inventory:
  </Scroller>
</section>
