---

---

<section
  id="characterInventory"
  class="flex min-h-dvh max-w-full snap-start flex-col gap-6 pt-16 md:h-dvh md:snap-center"
>
  <h1
    data-aos="fade-in"
    class="text-primary-500 my-auto text-center text-2xl font-bold"
  >
    Inventory
  </h1>
  <div class="my-auto"></div>
</section>
