---
// Fonts
import "@fontsource/cinzel-decorative/400.css";
import "@fontsource/cinzel-decorative/700.css";
import "@fontsource/cinzel-decorative/900.css";
import "@fontsource-variable/lora";
import "@fontsource/unifrakturcook";
// Base CSS Files
import "vue3-toastify/dist/index.css";
import "aos/dist/aos.css";
import "mapbox-gl/dist/mapbox-gl.css";
import "animate.css";
import "@/styles/base.css";

import ThemeToggle from "@/components/client/ThemeToggle.vue";
import DiceBox from "@/components/DiceBox.astro";
import HeaderLink from "@/components/client/HeaderLink.vue";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html
  lang="en"
  class="h-dvh w-dvw snap-y snap-mandatory bg-white text-black transition-colors ease-in-out dark:bg-black dark:text-white"
>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>
  <body class="relative">
    <header
      class="border-b-primary-500 border-b-0.5 fixed left-0 top-0 z-10 flex h-16 w-dvw items-center justify-end gap-6 p-4 md:bg-black/75"
    >
      <HeaderLink
        class="max-md:hidden"
        client:load
        elementId="characterProfile"
      >
        Profile
      </HeaderLink>
      <HeaderLink class="max-md:hidden" client:load elementId="characterSheet">
        Sheet
      </HeaderLink>
      <HeaderLink
        class="max-md:hidden"
        client:load
        elementId="characterHistory"
      >
        Backstory
      </HeaderLink>
      <HeaderLink
        class="max-md:hidden"
        client:load
        elementId="characterInventory"
      >
        Inventory
      </HeaderLink>
      <ThemeToggle client:load />
    </header>
    <main class="relative flex flex-col items-center gap-8 px-4">
      <slot />
    </main>
    <DiceBox />
    <script is:inline>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
