---
import "@fontsource/cinzel-decorative/400.css";
import "@fontsource/cinzel-decorative/700.css";
import "@fontsource/cinzel-decorative/900.css";
import "@fontsource-variable/lora";
import "@fontsource/unifrakturcook";
import "vue3-toastify/dist/index.css";
import "@/styles/base.css";
import "aos/dist/aos.css";

import ThemeToggle from "@/components/ThemeToggle.vue";
import DiceBox from "@/components/DiceBox.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html
  lang="en"
  class="h-dvh w-dvw bg-white text-black transition-colors ease-in-out dark:bg-black dark:text-white"
>
  <head>
    <title>{title}</title>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content={description} />
    <meta name="generator" content={Astro.generator} />
    <script is:inline>
      if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        document.documentElement.classList.add("dark");
      }
    </script>
    <script is:inline src="https://unpkg.com/aos@next/dist/aos.js"></script>
  </head>
  <body class="relative">
    <header class="fixed left-0 top-0 z-10 h-16 w-dvw p-4">
      <ThemeToggle class="ml-auto" client:only="vue" />
    </header>
    <main class="relative flex flex-col items-center gap-8 p-4 pt-0">
      <slot />
    </main>
    <DiceBox />
    <script is:inline>
      AOS.init({
        once: true,
      });
    </script>
  </body>
</html>
