---

---

<div
  id="dice-box"
  class="left-[calc(50%-50dvw))] pointer-events-none absolute top-0 h-full w-dvw"
>
</div>
<style is:global>
  #dice-box {
    .dice-box-canvas {
      width: 100% !important;
      height: 100% !important;
    }
  }
</style>
