---
import { getEntry } from "astro:content";
interface Props {
  name: string;
  stat: string;
  description: string;
}

const { name, stat, description } = Astro.props;
const entry = await getEntry("stats", stat);
---

<div>
  <div>
    <div class="font-heading text-primary-500 shrink-0 text-sm">
      <strong>{name}</strong>
      <span class="font-body text-silver-500 dark:text-silver-300 italic">
        ({entry?.data.label})
      </span>
    </div>
  </div>
  <span>{description}</span>
</div>
