---
import DiceRoller from "@/components/ui/client/DiceRoller.vue";
import { getEntry } from "astro:content";
import { localizePath } from "../../utils/locale";

interface Props {
  name: string;
  stat: string;
}

const { name, stat } = Astro.props;
const statData = await getEntry("stats", localizePath(Astro, stat))!;

const value = Math.floor(((statData?.data.value ?? 10) - 10) / 2) + 2;
---

<div class="flex items-center gap-2">
  <div class="bg-primary-600 inline-block h-3 w-3 self-center rounded-full">
  </div>
  <DiceRoller
    class="text-primary-500 mr-1 flex size-8 items-center justify-center border-b border-b-black text-lg italic oldstyle-nums max-sm:size-10 max-sm:font-bold dark:border-b-white"
    modifier={value}
    client:visible
  >
    +{value}
  </DiceRoller>
  <span>
    {name}
    <i class="text-silver-500 dark:text-silver-300 select-none text-sm">
      ({statData.data.label})
    </i>
  </span>
</div>
