---
import DiceRoller from "@/components/ui/client/DiceRoller.vue";

interface Props {
  name: string;
  value: number;
  stat: string;
}

const { name, value, stat } = Astro.props;
---

<div class="flex gap-2">
  <div class="bg-primary-600 inline-block h-3 w-3 self-center rounded-full">
  </div>
  <div class="flex w-6 justify-center border-b border-b-white">
    <DiceRoller class="px-2" modifier={value} client:visible>
      <span class="text-primary-500 -ml-1 text-center italic oldstyle-nums">
        +{value}
      </span>
    </DiceRoller>
  </div>
  <span>
    {name}<i class="text-silver-500 dark:text-silver-300 select-none text-sm">
      ({stat})</i
    >
  </span>
</div>
